* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.top-banner {
  background-color: #0066eb;
  font-family: "Roboto", serif;
  font-weight: 600;
  color: white;
  display: flex;
  padding: 5px 0 5px 0;
  justify-content: space-around;
}

.left-side-top-banner {
  display: flex;
  gap: 5%;
  width: 35%;
}

.right-side-top-banner {
  display: flex;
  width: 5%;
  gap: 5%;
  justify-content: space-evenly;
}

.left-side-top-banner > address > span:hover {
  cursor: text;
}

.email-div-top-banner a {
  text-decoration: none;
  color: white;
}

.nav-div-outside {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3% 0px;
  width: 90%;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 1.2rem;
  gap: 3%;
}

nav > ul > li {
  padding: 5px;
}

nav > ul > li:hover {
  transform: translateY(5px);
  transition: 0.5s;
  color: #0067ed;
}

.dropdown {
  display: none;
}

nav > ul > li:hover .dropdown {
  transition: 0.6s;
  display: block;
  position: absolute;
  padding: 20px;
  margin-top: 5px;
  margin-left: -10px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
}

.dropdown-2nd {
  display: none;
}

.portfolio-dropdown:hover .dropdown-2nd {
  /* transition: 0.6s; */
  display: block;
  position: absolute;
  padding: 20px;
  /* margin-top: 5px; */
  margin-left: 90px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
}

.dropdown > ul {
  list-style-type: none;
}

.dropdown-2nd > ul {
  list-style-type: none;
}

.dropdown > ul > li {
  margin: 10px 0px;
  padding: 0px 20px;
}

.dropdown-2nd > ul > li {
  margin: 10px 20px;
}

nav > ul > li > div > ul > li:hover {
  color: #0067ed;
  cursor: pointer;
  transform: translate(10px);
  transition: 0.6s;
}

.dropdown-2nd > ul > li:hover {
  color: #0067ed;
  cursor: pointer;
  transform: translate(10px);
  transition: 0.6s;
}

.dropdown {
  background-color: white;
}

.dropdown-2nd {
  background-color: white;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav ul li button {
  background-color: #0067ed;
  color: white;
  padding: 15px 20px;
  border: none;
}

nav ul li button:hover {
  cursor: pointer;
  background-color: black;
  transform: scale(1.1);
  transition: 1s;
}

.hero {
  background-image: url(./Images/hero-background-image.jpg);
  background-position: center top;
  padding: 15px;
  height: 100%;
}

.hero-data {
  width: 50%;
}

.hero h3 {
  border: none;
  background-color: #0067ed;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px 15px;
  margin-top: 25%;
}

.hero h3:hover{
  background-color: black;
  transition: 1s;
}

.hero .sr {
  border: none;
  font-weight: lighter;
  color: black;
  font-size: 3.5rem;
  margin-top: 5%;
}

.hero .vs {
  color: #0067ed;
  border-radius: 20px;
  font-weight: 1000;
  font-size: 3.5rem;
  margin-top: 5%;
}

.hero p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 5%;
}

.hero .os {
  border: none;
  background-color: #0067ed;
  color: white;
  border-radius: 30px;
  padding: 20px 30px;
  font-size: 1rem;
  margin-top: 7%;
  margin-right: 5%;
}

.hero .rm {
  border: none;
  background-color: white;
  color: #0067ed;
  border-radius: 30px;
  font-weight: bold;
  padding: 20px 30px;
  font-size: 1rem;
  margin-top: 7%;
}

.outer-flags-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.flags-div {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 85%;
}

.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-top: 2px solid #0067ed;
  padding: 0px 7%;
}

.flag img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20% 0px;
}

.flag h1 {
  margin: 20% 0px;
  font-size: 1rem;
}

.flag p {
  color: #0067ed;
  margin: 20% 0px;
  font-size: 1rem;
}

.section-1 {
  margin-top: 18%;
  display: flex;
  gap: 5%;
  justify-content: center;
  /* width: 90%; */
}

.content-side-div {
  width: 40%;
}

/* .img-div img{
  width: 100%;
  height: 80%;
} */

.section-1-icon-div img {
  width: 50px;
  height: 50px;
}
.section-1-icon-div {
  display: flex;
  gap: 5%;
  margin-bottom: 40px;
}

.left-div {
  display: flex;
  align-items: center;
  gap: 5%;
}

.right-div {
  display: flex;
  align-items: center;
  gap: 5%;
}

.csdh6 {
  font-size: 1.4rem;
  color: #0067ed;
  margin-bottom: 10px;
}

.csdh11 {
  font-size: 2.8rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.csdh12 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.csdp {
  margin-bottom: 40px;
  font-weight: lighter;
  font-size: 1.2rem;
}

.left-div > div > h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.right-div > div > h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.content-side-div > button {
  border: none;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: #0067ed;
  color: white;
  font-size: 1.2rem;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D3343;
}

.section-2-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.card {
  width: 20%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.174);
  text-align: center;
}

.s2h5{
  font-size: 1.4rem;
  color: #0067ed;
  margin-top: 10%;
  margin-bottom: 40px;
}

.s2h11{
  font-size: 3rem;
  color: white;
  font-weight: lighter;
  margin-bottom: 10px;
}

.s2h12{
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

.card > h3{
  color: white;
  font-size: 1.5rem;
  margin: 20px 0px 10px 0px;
}

.card > p{
  color: white;
  font-weight: lighter;
  margin-bottom: 20px;
}

.card img{
  width: 100px;
  height: 100px;
}

.card-img-div{
  width: 120px;
  height: 120px;
  background-color: #272B3C;
  border-radius: 50%;
  align-content: center;
  margin-top: 15%;
}